<div class="accountContainer">
    <h1>My Account</h1>
    <p><strong>First Name:</strong> {{user.first_name}}</p>
    <p><strong>Last Name:</strong> {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Street:</strong> {{user.street}}</p>
    <p><strong>Zip Code:</strong> {{user.zip_code}}</p>
    <p><strong>City:</strong> {{user.city}}</p>
    <p><strong>Country:</strong> {{user.country}}</p>
    <aside>
        <a href="/user/edit">Edit Account</a>
        <a href="/user/edit-password">Change Password</a>
        <a href="/">Back</a>
    </aside>

</div>