<h1>Your Orders</h1>
{{#if orders.length}}
    <div class="cartList">
        {{#each orders}}
            <div class="cartItem">
                <h2>Order #{{@index}}</h2>
                <p>Status: {{this.status}}</p>
                <ul class="cartList">
                    {{#each this.items}}
                        <div class="cartItem">
                            <img src="{{this.product.imageUrl}}" alt="{{this.product.name}}" width="50">
                            {{this.product.name}} - {{this.quantity}} x {{this.product.price}} USD
                        </div>
                    {{/each}}
                </ul>
                <p><strong>Total: {{this.total}} USD</strong></p>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>You have no orders.</p>
{{/if}}