{{#if errors}}
    <div style="color: red;">
        {{#each errors}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}
<section class="productDetailsContainer">
    <div class="productDetailImage">
        {{#if product.imageUrl}}
            <img src="{{product.imageUrl}}" alt="{{product.name}}" width="600">
        {{else}}
            <img src="/images/default_image.webp" alt="Default Image" width="600">
        {{/if}}
    </div>
    <div class="productDetailDescription">
        <h1>{{product.name}}</h1>
        <p><strong>Category:</strong> {{product.category}}</p>
        <p>{{product.description}}</p>
        <p><strong>Price:</strong> {{product.price}} USD</p>
        <p><strong>Stock:</strong> {{product.stock}}</p>
        <form class="cartForm" action="/cart/add/{{product._id}}" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{product.stock}}" required>
            <button class="addButton" type="submit">Add to Cart</button>
        </form>
    </div>
</section>
<aside>
    {{#if isAdmin}}
        <a href="/products/{{product._id}}/edit">Edit</a>
        <a href="/products/{{product._id}}/delete">Delete</a>
    {{/if}}
    <a href="/products">Back to Products</a>
</aside>