<div class="gridProductCointainer">
    <div class="filters">
        {{#if isAdmin}}
            <a class="createProductLink" href="/products/create">Create New Product</a>
        {{/if}}
        <h2>Filter Options</h2>
        <!-- Filter options form can be added here -->
        <form id="filter" action="/products" method="GET">
            <div>
                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option value="">All</option>
                    {{#each allowedCategories}}
                        <option value="{{this}}" {{#ifEquals this ../filters.category}}selected{{/ifEquals}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="minPrice">Min Price:</label>
                <input type="number" id="minPrice" name="minPrice" value="{{filters.minPrice}}">
            </div>
            <div>
                <label for="maxPrice">Max Price:</label>
                <input type="number" id="maxPrice" name="maxPrice" value="{{filters.maxPrice}}">
            </div>
            <div>
                <label for="availability">Availability:</label>
                <select id="availability" name="availability">
                    <option value="">All</option>
                    <option value="inStock" {{#ifEquals filters.availability "inStock"}}selected{{/ifEquals}}>In Stock</option>
                    <option value="outOfStock" {{#ifEquals filters.availability "outOfStock"}}selected{{/ifEquals}}>Out of Stock</option>
                </select>
            </div>
            <div>
                <button class="filterButtons" type="submit">Apply Filters</button>
                <a class="resetButton" href="/products">Reset Filters</a>
            </div>
        </form>
    </div>
    <div class="products">
        {{#each products}}
            <a class="productFeatureLink" href="/products/{{this._id}}">
                <div class="productFeature">
                    {{#if this.imageUrl}}
                        <img src="{{this.imageUrl}}" alt="{{this.name}}">
                    {{else}}
                        <img src="/images/default_image.webp" alt="Default Image">
                    {{/if}}
                    <div class="productInfo">
                        <h3 class="productTitle">{{this.name}}</h3>
                        <p class="productPrice">{{this.price}} USD</p>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>
